#container {
    max-width: 39.1875rem;
    margin: auto;

    & > img {
        display: block;
        margin: auto;
        padding-top: 1.5625rem;
        margin-bottom: 3.875rem;
    }

    & .header {
        display: grid;
        gap: 1rem;
        margin-bottom: 2.75rem;
    }

    & .header > a {
        display: flex;
        align-items: center;
        gap: .25rem;
    }
}

@media (width <= 24.375rem) {
    body #container {
        width: 20.375rem;
        padding-top: 2.125rem;
    }

    #container > img {
        display: none;
    }
}